.env
.env.prod

.idea/
.pytest_cache
.vscode
.venv
__pycache__
django-static
node_modules/

tmp.json
tmp.py
set_env.sh

artifacts/myfood/eng_products.csv
artifacts/myfood/eng_products.csv.gz
sitemap.xml
hidden/
