.env
.env.prod

.idea/
.pytest_cache
.vscode
.venv
__pycache__
django-static

tmp.json
tmp.py
set_env.sh

100products.csv
10000products.csv
eng_products.csv
off_eng.csv
off_eng.csv.gz
eng.csv
eng.csv.gz
sitemap.xml
hidden/
