django==5.1.7
django-admin-interface==0.29.4
djangorestframework==3.15.2
gunicorn==23.0.0
faker==37.0.0
pydantic==2.10.6
pytest==8.3.5
pytest-django==4.10.0
psycopg2-binary==2.9.10
requests==2.32.3
sentry-sdk[django]==2.22.0
