table {
  width: 100%;
  border-collapse: collapse;
}

h1 {
  font-size: 32px;
  text-align: center;

}

th {
  background-color: #26890D;
  color: white;    
}

th, td {
  padding: 0.5rem;
  border: 1px solid #92B83B;
  text-align: left;
}

tr:hover {
  background-color: #f8f8f8;
}
